@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'twaysky';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twaysky.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NEXON Lv1 Gothic OTF';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: transparent;
  border: 0;
  outline: none;
}

body {
  min-width: 1240px;
  position: relative;
  font-family: "Inter", sans-serif;
  background-color: #FAFAFA;
}

header {
  width: 100%;
  position: relative;
  z-index: 999;
}

.guide {
  width: 100%;
  background-color: #2A3692;
  height: 47px;
  position: relative;
  /* overflow: hidden; */
}

.layout-header {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  color: #ffffff;
  font-family: 'S-CoreDream-3Light';
}

.guide {
  overflow: hidden;
}

.guide-let-box {
  position: relative;
  width: 100%;
  height: 47px;
}

.guide-let-box li {
  position: absolute;
  line-height: 47px;
  left: 0;
  top: 0;
  transition: top 0.8s;
}

.guide-let-box li.top {
  top: 0;
}

.guide-let-box li.topbt {
  top: -47px;
}

.guide-let-box li.topplus {
  top: 47px;
  transition: none;
}

.guide .layout-header p {
  font-size: 14px;
  transition: all .3s
}

.header-util {
  width: 120px;
  display: flex;
  justify-content: space-around;
  color: #000000;
  font-family: 'S-CoreDream-3Light';
}

.header-util li a {
  display: block;
  font-size: 14px;
  width: 60px;
  height: 40px;
  color: #ffffff;
  text-align: center;
  padding: 3px 0;
  border-radius: 10px;
  line-height: 34px;
}

.mypage {
  width: 20px;
  height: 80px;
  font-size: 19px;
  font-weight: bold;
  line-height: 80px;
  cursor: pointer;
}



nav .logo img {
  width: 103px;
  height: 32px;
}

.layout-menu {
  width: 100%;
  border-bottom: 1px solid #f5f5f5;
  position: relative;
}

.layout-menu nav {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 20px;
  position: relative;
}

.layout-menu nav .menubar {
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: center;
  align-items: center;
  color: #202020;
  font-family: 'Pretendard-Regular';
  font-size: 17px;
  letter-spacing: 1px;
}

.layout-menu nav .menubar>li {
  width: 172px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  position: relative;

}

.sub {
  transition: max-height .5s;
  max-height: 0px;
  overflow: hidden;
  font-family: 'Pretendard-Regular';
  font-size: 15px;
  font-weight: normal;
}

.sub>li {
  width: 100%;
  line-height: 40px;
  color: #888;
}

.sub>li:nth-child(1) {
  padding-top: 10px;
}

.sub a:hover {
  color: #2A3692;
  border-bottom: 1px solid #2A3692;
}

/*서브의 배경*/
.layout-menu .subBg {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 0px;
  border-top: 1px solid #f5f5f5;
  background-color: #ffffff;
  transition: height .5s;
}

.sign-up {
  width: 100%;
  height: 100%;
}

.sign-up .gradation-box {
  width: 100%;
  height: 356px;
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
  position: relative;
}

.sign-layout1 {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.sign-let-box {
  width: 100%;
  height: 356px;
  color: #ffffff;
  letter-spacing: 1.2px;
  padding-top: 70px;
}

.sign-let-box h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.sign-let-box p {
  font-size: 20px;

}

.sign-layout2 {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.select-card {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 80px;
  top: 370px
}

.select-card a {
  display: block;
  width: 300px;
  height: 500px;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.bx {
  padding: 50px;
  width: 100%;
  height: 100%;
}

.icon {
  width: 100%;
  font-size: 60px;
  color: #131842;
  text-align: center;
}

.icon i {
  width: 120px;
  height: 120px;
  background-color: #ffffff;
  border: 1px solid #E2E2E2;
  line-height: 120px;
  border-radius: 50%;
}

.select-card a {
  overflow: hidden;
}

.bx h2 {
  text-align: center;
  margin-top: 20px;
  color: #131842;
  font-size: 24px;
}

.bx .individual-list {
  height: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.business-list {
  margin-top: 45px;
  gap: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.travel-list {
  margin-top: 22px;
  gap: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.bx ul li {
  display: flex;
  gap: 10px;
  font-size: 16px;
  color: #2A3692;
  font-family: 'S-CoreDream-3Light';
}

.bx ul li img {
  width: 20px;
  height: 20px;
}

.ex {
  text-align: center;
  font-size: 15px;
  color: #888;
  margin-top: 10px;
}

/* 개인 약관동의 */

.individual-hidden-box,
.business-hidden-box,
.travel-hidden-box {
  width: 100%;
  height: 100%;
  display: none;
}

.individual-hidden-box.on,
.business-hidden-box.on,
.travel-hidden-box.on {
  display: block;
}

.individual-hidden-layout,
.business-hidden-layout,
.travel-hidden-layout {
  width: 1200px;
  margin: 0 auto;
  margin-top: 500px;
  text-align: center;
}

.individual-hidden-layout h2,
.business-hidden-layout h2,
.travel-hidden-layout h2 {
  font-size: 26px;
  color: #272727;
}

.individual-hidden-lise {
  text-align: left;
  width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 45px;
  margin-top: 70px;
}

.individual-hidden-lise>li {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  border: 1px solid #DDDDDD;
  border-radius: 10px;
  width: 100%;
  height: 60px;
  align-items: center;
  padding: 0 25px;
}

.individual-hidden-lise li .individual-checkbox {
  display: flex;
}

.individual-checkbox input {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  margin-top: 3px;
}

.individual-checkbox p {
  font-size: 18px;
  letter-spacing: 0.4px;
  color: #515151;
}

.individual-hidden-color {
  color: red !important;
  margin-right: 8px;
}

.individual-view-btn button {
  width: 55px;
  height: 30px;
  border: 1px solid #E2E2E2;
  border-radius: 20px;
  cursor: pointer;
  color: #515151;
  position: relative;
}

.individual-btn-box {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.individual-btn-box button {
  width: 190px;
  height: 55px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 23px 0px 23px 0px;
  color: #ffffff;
  cursor: pointer;
}

.individual-next {
  background-color: #131842;
}

.individual-cancel {
  background-color: #D9D9D9;
}


.business-hidden-list,
.travel-hidden-list {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 100px 0;
  gap: 30px;
}

.business-hidden-list li,
.travel-hidden-list li {
  width: 400px;
  height: 170px;
  border: 1px solid #DDDDDD;
  border-radius: 7px;
  box-sizing: border-box;
  background-color: #fff;
}

.business-hidden-list li a,
.travel-hidden-list li a {
  width: 100%;
  padding: 20px;

  display: flex;
  justify-content: space-between;
  text-align: left;
}

.txt-box h3 {
  font-size: 23px;
  font-weight: bold;
  color: #161C4E;
}

.txt-box p {
  font-size: 16px;
  color: #999999;
  margin-top: 5px;
}

.business-hidden-list li i,
.travel-hidden-list li i {
  text-align: center;
  width: 120px;
  height: 120px;
  font-size: 50px;
  line-height: 120px;
  margin-left: 10px;
  border: 1px solid #DDDDDD;
  border-radius: 50%;
  color: #161C4E;
}

.posiht {
  width: 100%;
  height: 500px;
}

.posiht.active {
  display: none;
}
.membership-box.on{
  display: none;
}
.membership-box, .personinfom-box {
  width:500px;
  height:500px;
  position: absolute;
  top:65%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #161C4E;
  padding:10px;
  border-radius: 10px;
  z-index: 10;
}
.title-closebtn-box, .title-closebtn-box2{
  width:100%;
  height:60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.title-closebtn-box p, .title-closebtn-box2 p{
  color:#fff;
  font-size: 24px;
  font-family: "Inter", sans-serif;
}

.title-closebtn-box button, .title-closebtn-box2 button{
  border: 0;
  width:30px;
}

.title-closebtn-box i, .title-closebtn-box2 i {
  font-size: 24px;
  color: #fff;
}

.mebership-let-box, .personinfom-let-box{
  margin-top: 10px;
  width:100%;
  height:400px;
  max-height: 100%;
  overflow: auto;
  background-color: #fff;
  padding: 20px;
}

.mebership-let-box p, .personinfom-let-box p{
  font-size: 12px;
  line-height:24px;
  color: #515151;
}

.personinfom-box table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: Arial, sans-serif;
  font-size: 12px;
}

.personinfom-box th {
  background-color: #f4f4f4;
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
  font-weight: bold;
}

.personinfom-box thead tr th{
  text-align: center;
}

.personinfom-box td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.personinfom-box colgroup col:nth-child(1) {
  width: 18%;
}
.personinfom-box colgroup col:nth-child(2) {
  width: 18%;
}

.personinfom-box tbody tr:nth-child(odd) td {
  background-color: #f9f9f9;
}

.personinfom-box td[rowspan] {
  vertical-align: middle;
}

.personinfom-box .bdr {
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

.personinfom-box td:last-child {
  border-right: 1px solid #ddd;
}


/* 푸터====================================== */

.bottom-nav {
  margin-top: 30px;
  width: 100%;
  height: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.bottom-nav-layout {
  width: 1200px;
  height: 70px;
  margin: 0 auto;
}

.bottom-nav-layout ul {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
  font-family: 'Pretendard-Regular';
}

.bottom-nav-layout ul a {
  font-size: 18px;
}

footer {
  width: 100%;
  height: 150px;
}

.footer-layout {
  width: 1200px;
  margin: 0 auto;
  color: #444444;
}

.footer-layout>ul {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  line-height: 25px;
  font-size: 14px;
}

.footer-layout>ul>li>h2 {
  margin-bottom: 15px;
  color: #161C4E;
}

.footer-layout b {
  color: #222;
}

.footer-style-color {
  color: #2A3692;
}

.banner-slide li {
  display: none;
}

.banner-slide li.on {
  display: block;
}